<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Fahad Ishan">
    <title>Terms & Condition</title>
    <link rel="stylesheet" href="../css/icon.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/others.css">
</head>

<body>
    <!-- Section: Header -->
    <header class="header">
        <div class="container">
            <section class="wrapper">
                <h1><a href="../index.html" class="brand">Brand</a></h1>
                <button type="button" class="opened-menu">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
               </button>
                <div class="overlay"></div>
                <nav class="navbar">
                    <button type="button" class="closed-menu">
                     <img src="../asset/icon/closed.svg" class="closed-icon" alt="closed">
                  </button>
                    <ul class="menu">
                        <li class="menu-item"><a href="../index.html">Home</a></li>
                        <li class="menu-item"><a href="./about.html">About</a></li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" data-toggle="sub-menu">Services<i class="expand"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="#">Web Design</a></li>
                                <li class="menu-item"><a href="#">Web Development</a></li>
                                <li class="menu-item"><a href="#">Brand Marketing</a></li>
                                <li class="menu-item"><a href="#">SEO and Optimizing</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" data-toggle="sub-menu">Planning <i class="expand"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="#">Basic Plan</a></li>
                                <li class="menu-item"><a href="#">Standard Plan</a></li>
                                <li class="menu-item"><a href="#">Premium Plan</a></li>
                                <li class="menu-item"><a href="#">Professional Plan</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" data-toggle="sub-menu">Article <i class="expand"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="#">Article One</a></li>
                                <li class="menu-item"><a href="#">Article Two</a></li>
                                <li class="menu-item"><a href="#">Article Three</a></li>
                                <li class="menu-item"><a href="#">Article Four</a></li>
                                <li class="menu-item"><a href="#">Article Five</a></li>
                                <li class="menu-item"><a href="#">Article Six</a></li>
                                <li class="menu-item"><a href="#">Article Seven</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>
    <!-- fill-in-the-gap -->
    <div class="fill"></div>
    <!-- Section: Main -->
    <section class="main-container">
        <main>
            <div class="main-bg bg-terms flex">
                <h1>Home / Terms & Condition</h1>
            </div>
        </main>
        <div class="sidebar sidebar-left"></div>
        <div class="content content1 flex">
            <br>
            <br>
            <h3>Terms of Use & Condition</h3>
            <br>
            <p>All content provided on this blog is for informational purposes only. The owner of this blog makes no representations as to the accuracy or completeness of any information on this site or found by following any link on this site. The owner
                will not be liable for any errors or omissions in this information nor for the availability of this information. The owner will not be liable for any losses, injuries, or damages from the display or use of this information. These terms
                and conditions of use are subject to change at anytime and without notice.</p>
            <br>
            <br>
        </div>
        <div class="sidebar sidebar-right"></div>
        <div class="ads"></div>
        <footer>
            <div class="footer-body">
                <ul>
                    <li>
                        <h4>Contact Us</h4>
                    </li>
                    <li><a href="../index.html"><span class="material-icons">home</span>Home</a></li>
                    <li><a href="./about.html"><span class="material-icons">groups</span>About Us</a></li>
                    <li><a href="./contact.html"><span class="material-icons">contact_page</span>Contact Us</a></li>
                </ul>

                <ul>
                    <li>
                        <h4>Terms Of Use</h4>
                    </li>
                    <li><a href="./terms&condition.html"><span class="material-icons">build</span>Terms & Condition</a></li>
                    <li><a href="./privacy-policy.html"><span class="material-icons">health_and_safety</span>Privacy & Policy</a></li>
                </ul>

                <ul>
                    <li>
                        <h4>Reach Us</h4>
                    </li>
                    <li>
                        <a href="./coming-soon.html"><img src="../asset/icon/email-black.svg" alt="e-mail">Email: Ishan@gmail.com</a>
                    </li>
                    <li>
                        <a href="./coming-soon.html"><img src="../asset/icon/facebook-black.svg" alt="facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="./coming-soon.html"><img src="../asset/icon/twitter-black.svg" alt="twitter">Twitter</a>
                    </li>
                    <li>
                        <a href="./coming-soon.html"><img src="../asset/icon/youtube-black.svg" alt="youtube">youtube</a>
                    </li>
                    <li>
                        <a href="./coming-soon.html"><img src="../asset/icon/instagram-black.svg" alt="instagram">Instagram</a>
                    </li>
                    <li>
                        <a href="./coming-soon.html"><img src="../asset/icon/telegram-black.svg" alt="telegram">telegram</a>
                    </li>
                    <li>
                        <a href="./coming-soon.html"><img src="../asset/icon/discord-black.svg" alt="discord">discord</a>
                    </li>
                </ul>

            </div>
            <div class="footer-bottom">
                <li>Copyright © Latest Anime</li>
            </div>
        </footer>
    </section>
    <div class="up">
        <a href="#">
            <img src="../asset/icon/chevron-up.svg" alt="To the top">
        </a>
    </div>
    <script src="../js/script.js" defer></script>
    <script src="../js/others-sidebar.js" defer></script>
</body>

</html>