<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Fahad Ishan">
    <title>Post</title>
    <link rel="stylesheet" href="../../css/icon.css">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/post.css">
</head>

<body>
    <!-- Section: Header -->
    <header class="header">
        <div class="container">
            <section class="wrapper">
                <h1><a href="../../index.html" class="brand">Brand</a></h1>
                <button type="button" class="opened-menu">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
               </button>
                <div class="overlay"></div>
                <nav class="navbar">
                    <button type="button" class="closed-menu">
                     <img src="../../asset/icon/closed.svg" class="closed-icon" alt="closed">
                  </button>
                    <ul class="menu">
                        <li class="menu-item"><a href="../../index.html">Home</a></li>
                        <li class="menu-item"><a href="../about.html">About</a></li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" data-toggle="sub-menu">Services<i class="expand"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="#">Web Design</a></li>
                                <li class="menu-item"><a href="#">Web Development</a></li>
                                <li class="menu-item"><a href="#">Brand Marketing</a></li>
                                <li class="menu-item"><a href="#">SEO and Optimizing</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" data-toggle="sub-menu">Planning <i class="expand"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="#">Basic Plan</a></li>
                                <li class="menu-item"><a href="#">Standard Plan</a></li>
                                <li class="menu-item"><a href="#">Premium Plan</a></li>
                                <li class="menu-item"><a href="#">Professional Plan</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" data-toggle="sub-menu">Article <i class="expand"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="#">Article One</a></li>
                                <li class="menu-item"><a href="#">Article Two</a></li>
                                <li class="menu-item"><a href="#">Article Three</a></li>
                                <li class="menu-item"><a href="#">Article Four</a></li>
                                <li class="menu-item"><a href="#">Article Five</a></li>
                                <li class="menu-item"><a href="#">Article Six</a></li>
                                <li class="menu-item"><a href="#">Article Seven</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="../contact.html">Contact</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>
    <!-- fill-in-the-gap -->
    <div class="fill"></div>
    <!-- Section: Main -->
    <section class="main-container">
        <main>
            <div class="post-head">
                <div class="post-header">
                    <h1>Naruto Vs One Piece. Two legendary anime compared.</h1>
                </div>
                <div class="post-image">
                    <img src="https://media.istockphoto.com/photos/lots-of-multicoloured-cubes-moving-in-space-to-come-together-to-form-picture-id1312818032" alt="">
                </div>
                <div class="post-author">
                    <div class="avatar">
                        <a href="#">
                            <img src="../../asset/icon/avatar.svg" alt="anime-sensei">
                        </a>
                    </div>
                    <div class="author-desc">
                        <h5>Anime Sensei</h5>
                        <h6>16 january, 2022</h6>
                    </div>
                </div>
            </div>
        </main>
        <div class="sidebar sidebar-left"></div>
        <div class="content content1">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima sequi dolorum dolorem veniam quas ad! Dignissimos quo in cum magni.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, aspernatur libero quod debitis laudantium.</p>
            <br>
            <p>Lorem ipsum dolor sit amet.</p>
            <br>
            <ul>
                <li>naruto</li>
                <li>zoro</li>
                <li>mikasa</li>
                <li>den</li>
                <li>kakashi</li>
                <li>mizutani</li>
                <li>hinata</li>
                <li>orehime</li>
            </ul>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quia.</p>
            <br>
        </div>
        <div class="content content2">
            <h3>Anime OverView</h3>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, unde cumque harum blanditiis commodi maiores?</p>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis nesciunt sapiente nulla corporis minus, reprehenderit vel minima debitis dicta quos earum enim fugiat ab doloremque vero illo impedit illum quidem.</p>
            <br>
        </div>
        <div class="sidebar sidebar-right"></div>
        <div class="content content3">
            <h3>Step Show</h3>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptates vero perferendis nobis porro exercitationem deserunt? Eveniet odio tempore nihil?</p>
            <br>
            <h4>step 1</h4>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi molestias sint tempora dolore, ea quos.</p>
            <br>
            <h4>step2</h4>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, deserunt.</p>
            <br>
        </div>
        <div class="content content4">
            <h3>Conclusion</h3>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe sapiente consequatur autem neque libero quae!</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur distinctio excepturi at est alias repellendus nemo consequatur? Inventore, omnis?</p>
            <br>
        </div>
        <div class="content content5">
            <h3>Popular Interest You May Like!</h3>
            <br>
            <div class="news-card news-card-small w-32">
                <figure>
                    <a href="#" title="#"></a>
                </figure>
                <div class="category">
                    <a href="#" title="#">Anime</a>
                </div>
                <div class="card">
                    <header class="card-header">
                        <h2 class="card-title"><a href="#" title="#">Naruto Vs One Piece</a></h2>
                        <div class="card-meta">
                            <div class="card-date">
                                <a href="#" title="#">January 5, 2022</a>
                            </div>
                            <div class="author">
                                <a href="#" title="#">Sensei</a>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="news-card news-card-small w-32">
                <figure>
                    <a href="#" title="#"></a>
                </figure>
                <div class="category">
                    <a href="#" title="#">Anime</a>
                </div>
                <div class="card">
                    <header class="card-header">
                        <h2 class="card-title"><a href="#" title="#">Naruto Vs One Piece</a></h2>
                        <div class="card-meta">
                            <div class="card-date">
                                <a href="#" title="#">January 5, 2022</a>
                            </div>
                            <div class="author">
                                <a href="#" title="#">Sensei</a>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="news-card news-card-small w-32">
                <figure>
                    <a href="#" title="#"></a>
                </figure>
                <div class="category">
                    <a href="#" title="#">Anime</a>
                </div>
                <div class="card">
                    <header class="card-header">
                        <h2 class="card-title"><a href="#" title="#">Naruto Vs One Piece</a></h2>
                        <div class="card-meta">
                            <div class="card-date">
                                <a href="#" title="#">January 5, 2022</a>
                            </div>
                            <div class="author">
                                <a href="#" title="#">Sensei</a>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <br>
        </div>
        <div class="content next-page">
            <a href="../../index.html">Latest News <span class="material-icons">arrow_right_alt</span></a>
        </div>
        <div class="ads"></div>
        <footer>
            <div class="footer-body">
                <ul>
                    <li>
                        <h4>Contact Us</h4>
                    </li>
                    <li><a href="../../index.html"><span class="material-icons">home</span>Home</a></li>
                    <li><a href="../about.html"><span class="material-icons">groups</span>About Us</a></li>
                    <li><a href="../contact.html"><span class="material-icons">contact_page</span>Contact Us</a></li>
                </ul>

                <ul>
                    <li>
                        <h4>Terms Of Use</h4>
                    </li>
                    <li><a href="../terms&condition.html"><span class="material-icons">build</span>Terms & Condition</a></li>
                    <li><a href="../privacy-policy.html"><span class="material-icons">health_and_safety</span>Privacy & Policy</a></li>
                </ul>

                <ul>
                    <li>
                        <h4>Reach Us</h4>
                    </li>
                    <li>
                        <a href="../coming-soon.html"><img src="../../asset/icon/email-black.svg" alt="e-mail">Email: Ishan@gmail.com</a>
                    </li>
                    <li>
                        <a href="../coming-soon.html"><img src="../../asset/icon/facebook-black.svg" alt="facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="../coming-soon.html"><img src="../../asset/icon/twitter-black.svg" alt="twitter">Twitter</a>
                    </li>
                    <li>
                        <a href="../coming-soon.html"><img src="../../asset/icon/youtube-black.svg" alt="youtube">youtube</a>
                    </li>
                    <li>
                        <a href="../coming-soon.html"><img src="../../asset/icon/instagram-black.svg" alt="instagram">Instagram</a>
                    </li>
                    <li>
                        <a href="../coming-soon.html"><img src="../../asset/icon/telegram-black.svg" alt="telegram">telegram</a>
                    </li>
                    <li>
                        <a href="../coming-soon.html"><img src="../../asset/icon/discord-black.svg" alt="discord">discord</a>
                    </li>
                </ul>

            </div>
            <div class="footer-bottom">
                <li>Copyright © Latest Anime</li>
            </div>
        </footer>
    </section>
    <div class="up">
        <a href="#">
            <img src="../../asset/icon/chevron-up.svg" alt="To the top">
        </a>
    </div>
    <script src="../../js/script.js" defer></script>
    <script src="../../js/post-sidebar.js" defer></script>
</body>

</html>